training:
  episodes: 20000
  actor_lr: 0.001
  critic_lr: 0.001
  noise_std: 0.0
  batch_size: 2
  grad_steps: 10
  replay_buffer_capacity: 100000
  use_wandb: True
  eval_interval: 50
  eval_episodes: 20
  target_update_rho: 0.005
  continue_training: True
  error_hard_stop: True
  do_prints: False
  env_type: "real"
  model_name: "northern_sweep_9.pth"

model:
  state_dim: 19
  action_dim: 2
  hidden_dim: 128
  speed_low: 1.0
  speed_high: 2.0
  angle_low: -20.0
  angle_high: 20.0

reward:
  distance_scale: 0.5
  in_hole_reward: 3.0